@charset "UTF-8";
h1 {
	text-transform: capitalize;
	color: red;
}
conteneur {
	display: flex;
	flex-direction: row;
	display: inline-table;
	color: blue;
	margin: auto;
	width: 100%;
	min-height: 500px;
	background-color: red;
}
#navbar {
	
}