@charset "UTF-8";
h1 {
	color: red;
	text-transform: uppercase;
	text-align: center;
}
h3 {
	margin-left: 50px;
}
#conteneur {
	display: flex;
	flex-direction: row;
	display: inline-table;
	color: blue;
	margin: auto;
	padding: 10px;
	width: 100%;
	min-height: 800px;
	background-color: grey;
}
#navbar {
	
}
#bloclogin {
	display: flex;
	flex-direction: row;
	display: inline-table;
}
li {
	display: inline;
	padding: 10px;
	text-align: right;
}
ul {
	float: right;
}
#vide {
	width: 100%;
	height: 50px;
}
#bloccommerce {
	display: flex;
	flex-direction: row;
	margin: 30px;
	padding: 30px;
	background-color: yellow;
}
#sousbloc1 {
	flex-wrap: wrap;
	flex-direction: column;
	min-width: 200px;
	background-color: green;
	padding-right: 50px;
	padding-left: 50px;
	margin-right: 50px;
	margin-left: 20px;
}
#sousbloc2 {
	flex-wrap: wrap;
	flex-direction: column;
	min-width: 200px;
	background-color: cyan;
	padding-right: 50px;
	padding-left: 50px;
	margin-right: 50px;
	margin-left: 50px;
}
#jj {
	width: 150px;
}
#bb {
	margin-left: 50px;
}
.imageflottante {
	float: left;
}