<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://10.44.101.15:1433;databaseName=ENCHERE_BD</property>
		<property name="hibernate.connection.username">USER_ENCHERES</property>
		<property name="hibernate.connection.password">Pa$$w0rd</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- //<mapping class="fr.eni.encheres.bo.Voiture" /> -->
		<mapping class="fr.eni.encheres.bo.Utilisateur" />
		<mapping class="fr.eni.encheres.bo.ArticleVendu" />
		<mapping class="fr.eni.encheres.bo.Categorie" />
		<mapping class="fr.eni.encheres.bo.Retrait" />
		<!-- //<mapping class="fr.eni.encheres.bo.Enchere" /> //<mapping class="fr.eni.encheres.bo.Categorie" -->

	</session-factory>
</hibernate-configuration>